.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.skill {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.4s;
  width: 100%;
  max-width: 150px;
  cursor: default;
}

.skill-icon {
  font-size: 40px;
  color: #00ffff;
  transition: 0.3s;
}

.skill span {
  display: block;
  font-weight: bold;
  margin-top: 8px;
  color: #fff;
}

body.light .skill {
  background: #fff;
}

.skill:hover {
  background: #00ffff;
  color: #000;
  transform: scale(1.05);
}

.skill:hover .skill-icon {
  color: #000;
}
