/* Certification Section */
.cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.cert-card {
    background: #111;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s ease;
    border: 1px solid #222;
}

.cert-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,255,255,0.3);
}

.cert-icon {
    font-size: 35px;
    color: #00ffff;
    margin-bottom: 10px;
}

.cert-meta {
    display: block;
    font-size: 12px;
    color: #aaa;
    margin-top: 8px;
}
