/* HIRE ME CARD */
.hire-card{
  max-width:500px;
  margin:20px auto 0 auto;
  padding:25px;
  background:#111;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,255,255,0.3);
  transition:0.3s;
}

body.light .hire-card{
  background:#fff;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.hire-card:hover{
  transform:translateY(-5px);
}

/* HIRE ME FORM INPUTS */
.hire-form input,
.hire-form textarea{
  padding:12px;
  width:100%;
  margin:10px 0;
  border-radius:10px;
  border:1px solid #00ffff;
  background:#111;
  color:#fff;
  transition:0.3s;
}

body.light .hire-form input,
body.light .hire-form textarea{
  background:#f5f5f5;
  color:#111;
  border:1px solid #00ffff;
}

.hire-form input:focus,
.hire-form textarea:focus{
  outline:none;
  border-color:#ff9800;
}

/* HIRE ME BUTTON */
.hire-form button{
  margin-top:10px;
  width:100%;
  padding:12px;
  background:#00ffff;
  color:#000;
  border:none;
  border-radius:25px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.hire-form button:hover{
  background:#ff9800;
  color:#fff;
  transform:scale(1.05);
}
