.skills-grid{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:25px;
    text-align:center;
}

.skill-item i{
    font-size:50px;
}

.skill-item p{
    margin-top:10px;
    font-weight:bold;
}
