/* MERN BADGE */
.mern-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mern-badge .mern-icons {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
}

.mern-badge .mern-icons img {
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease;
}

/* Hover Animation */
.mern-badge:hover .mern-icons img {
  transform: scale(1.15) rotate(6deg);
}
