/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    color:#fff;
    display:flex;
    justify-content:center;
    padding:40px 20px;
}

.container{
    max-width:1000px;
    width:100%;
}

/* PROFILE */
.profile{
    text-align:center;
    margin-bottom:40px;
}

.profile img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #0ff;
    box-shadow:0 0 20px #0ff;
    margin-bottom:15px;
}

.title{
    color:#0ff;
    font-size:18px;
    margin-top:5px;
}

/* SECTIONS */
section{
    margin-bottom:40px;
}

h2{
    margin-bottom:15px;
    color:#0ff;
}

/* SKILLS */
.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skill{
    background:#1f2a40;
    padding:10px 18px;
    border-radius:30px;
    display:flex;
    align-items:center;
    gap:8px;
    font-weight:bold;
    box-shadow:0 0 10px #0ff30f33;
    transition:0.3s ease;
    cursor:pointer;
}

.skill i{
    animation:floatSkill 3s ease-in-out infinite;
}

@keyframes floatSkill{
    0%{transform:translateY(0);}
    50%{transform:translateY(-4px);}
    100%{transform:translateY(0);}
}

.skill:hover{
    transform:translateY(-5px) scale(1.05);
    box-shadow:0 0 20px #0ff;
}

/* PROJECTS */
.project{
    background:#1f2a40;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
    transition:0.3s;
}

.project:hover{
    transform:scale(1.02);
    box-shadow:0 0 15px #0ff;
}

/* BUTTON */
.btn{
    display:inline-block;
    padding:12px 25px;
    background:#0ff;
    color:#000;
    text-decoration:none;
    font-weight:bold;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:#fff;
    box-shadow:0 0 20px #0ff;
}
