/* MERN BADGE */
.mern-badge .mern-icons {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.mern-badge .mern-icons img {
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease;
}

/* Hover animation */
.mern-badge:hover .mern-icons img {
  transform: scale(1.2) rotate(8deg);
}
